.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.info {
  width: fit-content;
}

.info > h3 {
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cards {
  width: 100%;
  display: grid;
  gap: 1rem;
}
