.header {
  padding-top: 35px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.75rem;
}

.navbarNav {
  display: flex;
  align-items: center;
  gap: 20px;
}

svg {
  cursor: pointer;
}
